<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :Nome %>
  </div>
  <div class="field">
    <%= f.label :Login %><br>
    <%= f.text_field :Login %>
  </div>
  <div class="field">
    <%= f.label :Senha %><br>
    <%= f.text_field :Senha %>
  </div>
  <div class="field">
    <%= f.label :E-mail %><br>
    <%= f.text_field :E-mail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
